DOMAIN=stipt.slempers.nl
ACME_EMAIL=ops@example.com
GHCR_OWNER=your-github-owner
IMAGE_TAG=development

POSTGRES_DB=stipt_backend
POSTGRES_USER=stipt
POSTGRES_PASSWORD=change-me

JWT_SECRET_KEY=change-me
SEED_USER_PASSWORD=ChangeMe123!
